@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* tablet */
  html {
    font-size: 85%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* phone */
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 319px) {
  /* phone */
  html {
    font-size: 40%;
  }
}
